@charset "UTF-8";
html {
	position: relative;
	min-height: 100%;
}
body {
	margin-bottom: 250px; /* Margin bottom by footer height */
}
.header-link {
	color:black;
}
#header_buton_list {
	padding-top: 10px;
}
.header_button {
	text-align: center;
	font-weight: bold;
	color: black;
}
@keyframes header_button_hover {
	from {background-color: white;}
	to {background-color: #FFD400;}
}
.header_button:hover {
	animation-name: header_button_hover;
	animation-duration: 1s;
}
.my-alert {
	display:none;
	margin:16px 0px 0px;
}